body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
    h2 {
        color: black;
        text-align: center;
    }
  
  h3 {
    color: black; 
    text-align: center;
  }
  img {
    padding: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    
  }